<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SPECCHIO Web Interface</display-name>
  
  <!-- SERVLETS -->
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>ch.specchio.controller.SearchServlet</servlet-class>
    <init-param>
    	<param-name>category</param-name>
    	<param-value>Full Text Search</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>ch.specchio.controller.DetailServlet</servlet-class>
  </servlet>
  
  <!-- SERVLET MAPPINGS -->
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  
  
  <!-- WELCOME FILE LIST -->
  <welcome-file-list>
    <welcome-file>search</welcome-file>
  </welcome-file-list>
  
</web-app>