body {
	margin-top: 60px;
	margin-bottom: 60px;
	background: none;
}

.container-left {
	width: 49%;
	margin-right: 2%;
	float: left;
}

.container-right {
	width: 49%;
	float: right;
}

.full {
  background: url(../img/bg_Golden_curves.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#detail {
    border-radius: 10px;
    background: white;
    padding: 50px;
}

