.footer {
  background-color: #ffffff;
  padding-top: 12px;
  bottom: 0;
  border: 1px;
  border-color: #333333;
  position: fixed;
  width: 100%;
}

/* Footer text centered for phones and tablets */
@media (max-width: 991px) {
	.footer p {
		text-align: center;
	}
}
