.footer {
  background-color: #ffffff;
  padding-top: 11px;
  bottom: 0;
  border-top: 1px solid #ddd;
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* Footer text centered for phones and tablets */
@media (max-width: 991px) {
.footer p {
text-align: center;
}
}
